<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WebPad.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WebPad.Properties.Settings>
            <setting name="WindowTop" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="InstantHelpZoom" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="InstantHelpViewingMode" serializeAs="String">
                <value>TwoPage</value>
            </setting>
            <setting name="RowDefinitionEditorsHeight" serializeAs="String">
                <value>*</value>
            </setting>
            <setting name="RowDefinitionResultsHeight" serializeAs="String">
                <value>*</value>
            </setting>
            <setting name="RowDefinitionHelpHeight" serializeAs="String">
                <value>*</value>
            </setting>
            <setting name="InternetExplorerEXEPath" serializeAs="String">
                <value>C:\Program Files (x86)\Internet Explorer\iexplore.exe</value>
            </setting>
            <setting name="FireFoxEXEPath" serializeAs="String">
                <value>C:\Program Files (x86)\Mozilla Firefox\firefox.exe</value>
            </setting>
            <setting name="ChromeEXEPath" serializeAs="String">
                <value>C:\Program Files (x86)\Google\Chrome\Application\chrome.exe</value>
            </setting>
        </WebPad.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
