<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonEdit" version="5.0.2" targetFramework="net40" />
  <package id="CodeRunner.FolderBrowser" version="1.0.6240.15791" targetFramework="net461" />
  <package id="EPPlus" version="4.0.2" targetFramework="net461" />
  <package id="EPPlusLibUtilities" version="1.0.6046.16140" targetFramework="net461" />
  <package id="FileSystemShortcutHandlerLib" version="1.0.5492.21805" targetFramework="net461" />
  <package id="HtmlAgilityPack" version="1.4.9" targetFramework="net40" requireReinstallation="true" />
  <package id="log4net" version="2.0.5" targetFramework="net461" />
  <package id="Log4NetHelpers" version="1.0.5807.17270" targetFramework="net461" />
  <package id="Log4NetNotifyAppender" version="1.0.5807.17199" targetFramework="net461" />
  <package id="NacWPFControls" version="1.0.6047.21946" targetFramework="net461" />
  <package id="NacWPFUtilities" version="1.0.5673.21998" targetFramework="net461" />
  <package id="NCTokenizer" version="1.0.5492.21954" targetFramework="net461" />
  <package id="NCWPFExtensions" version="1.0.6246.22067" targetFramework="net461" />
  <package id="WpfBusyIndicator" version="1.0.5491.13687" targetFramework="net461" />
  <package id="WPFViewModelBase" version="1.0.5491.13225" targetFramework="net461" />
  <package id="ZetaLongPaths" version="1.0.0.9" targetFramework="net461" />
</packages>